:root {
  font-size: 16px;
}
* {
  border: 1px solid dimgray;
  font-weight: ;
}

.gap--1 {
}

/* ....layout.... */
.navbar--height {
  height: 70px;
}
.sidebar--height {
  height: calc(100vh - 70px);
}
.main--height {
  height: calc(100vh - 70px);
}
.badge--custom {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50px;
}

.link--white {
  color: white;
}
